<div class="col-md-12 text-center" ng-app="memories">
<h1><span class="glyphicon glyphicon-heart"></span> Welcome to Grandma's House! <span class="glyphicon glyphicon-heart"></span></h1>
<p>GA WDI Project {{ 1+1 }}!</p>

</div>

<div class="col-md-6 text-center" ng-app="home"><h1>All Memories</h1>

	<div>
		<% @memories.each do |memory| %>
			<div>
				<%= link_to memory.title, memory_path(memory) %>
			</div>
		<% end %>


	</div>
</div>

<div class="col-md-6 text-center"><h1>All Users</h1>

	<div>
		<% @users.each do |user| %>
			<div>
				<%= link_to user.name, user_path(user) %>
			</div>
		<% end %>

	</div>
</div>