<div class="row" id="welcome">
	<img class="center-block img-responsive" src="assets/logout.jpg" width="100%" />
</div>

<div class="col-md-6 col-md-offset-3 text-center" ng-app="" ng-controller="">
	<h1>All Memories</h1>
	<p>{{ 2+2 }}</p>
</div>

<div class="col-md-6 col-md-offset-3 text-center content">
	<% @memories.each do |memory| %>
		<div>
			<%= link_to memory.title, memory_path(memory) %> - Comments: <%= memory.comments.count %>
		</div>
	<% end %>
</div>
